{% load static %}

<link rel="stylesheet" href="{% static 'css/series/serie_delete_style.css' %}">

<div class="continer">

    <div class="header-bar">
        <a class="go-back" href="{% url 'series' %}">&#8612 Go Back</a>
    </div>

    <div class="card-body">
        <form method="post">

            {% csrf_token %}

            <p>Are You Sure You Want to Delete This Serie? </p>
            <p style="margin-left: 20px;">"{{serie}}"</p>
            <input class="btn" type="submit" value="Delete Serie">

        </form>
    </div>


</div>