{% load static %}

<style>
    body {
        background-image: url("{% static 'image/bachground-img.jpg' %}");
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: center;
        font-family: "Lora", serif;
        font-optical-sizing: auto;
        font-weight: weight;
        font-style: normal;
        margin-bottom: 60px;
    }

    .header-bar {
        color: #fff;
        padding: 10px;
        background: linear-gradient(90deg, #8a2387, #e94057, #f27121);
    }

    .continer{
        margin-top: 90px;
        margin-left: 320px;
        max-width: 600px;
        background-color: #fff;
        -webkit-box-shadow: 2px 2px 13px -4px rgba(0, 0, 0, 0.21);
        box-shadow: 2px 2px 13px -4px rgba(0, 0, 0, 0.21);
    }

    .go-back {
        color: #FAFAFA;
        text-decoration: none;
    }

    .card-body{
        align-items: center;
        justify-content: space-between;
        padding: 15px;
        background-color: #fff;
        border-top: 1px solid rgb(240, 240, 240);        
    }

    input[type="text"], textarea{
        border: 2px solid #8a2387;
        width: 90%;
        padding: 10px;
        border-radius: 5px;
        font-size: 17px;
    }

    .btn{
        background: linear-gradient(90deg, #8a2387, #e94057, #f27121);
        color: #fff;
        border: none;
        padding: 7px 12px;
        border-radius: 7px;
        cursor: pointer;
        font-weight: 600;
    }

    input[type="text"],
    input[name="release_year"],
    textarea {
        width: 100%;
        padding: 8px 12px;
        border: 2px solid purple;
        border-radius: 8px;
        background-color: #fff;
        font-size: 16px;
        color: #000;
        transition: 0.3s ease;
    }

    input[type="text"]:focus,
    input[name="release_year"]:focus,
    textarea:focus {
        outline: none;
        border-color: #e94057;
        box-shadow: 0 0 8px #e94057;
    }

    input[type="checkbox"],
    input[name="complete"] {
        accent-color: #e94057;
        width: 20px;
        height: 20px;
        cursor: pointer;
    }

    input[type="number"],
    input[name="episodes_total"],
    input[name="episodes_watched"],
    textarea {
        width: 100%;
        padding: 8px 12px;
        border: 2px solid purple;
        border-radius: 8px;
        background-color: #fff;
        font-size: 16px;
        color: #000;
        transition: 0.3s ease;
    }

    input[type="text"]:focus,
    input[name="episodes_total"]:focus,
    input[name="episodes_watched"]:focus,
    textarea:focus {
        outline: none;
        border-color: #e94057;
        box-shadow: 0 0 8px #e94057;
    }

</style>

<div class="continer">
    <div class="header-bar">
        <a class="go-back" href="{% url 'series' %}">&#8612 Go Back</a>
    </div>

    <div class="card-body">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input class="btn" type="submit" value="Add Serie">
        </form>
    </div>
</div>