{% load static %}

<style>
    body {
        background-image: url("{% static 'image/bachground-img.jpg' %}");
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: center;
        font-family: "Lora", serif;
        font-optical-sizing: auto;
        font-weight: weight;
        font-style: normal;
    }

    .continer{
        margin-top: 90px;
        margin-left: 320px;
        max-width: 600px;
        background-color: #fff;
        -webkit-box-shadow: 2px 2px 13px -4px rgba(0, 0, 0, 0.21);
        box-shadow: 2px 2px 13px -4px rgba(0, 0, 0, 0.21);
    }

    .header-bar {
        color: #fff;
        padding: 10px;
        background: linear-gradient(90deg, #8a2387, #e94057, #f27121);
    }

    .btn{
        background: linear-gradient(90deg, #8a2387, #e94057, #f27121);
        color: #fff;
        border: none;
        padding: 7px 12px;
        border-radius: 7px;
        cursor: pointer;
        font-weight: 600;
    }

    .card-body{
        align-items: center;
        justify-content: space-between;
        padding: 15px;
        background-color: #fff;
        border-top: 1px solid rgb(240, 240, 240);        
    }

    p{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 18px;
        line-height: 1.6;
        color: #333;
        margin-bottom: 20px;
    }

    .go-back {
        color: #FAFAFA;
        text-decoration: none;
    }

</style>

<div class="continer">

    <div class="header-bar">
        <a class="go-back" href="{% url 'series' %}">&#8612 Go Back</a>
    </div>

    <div class="card-body">
        <form method="post">

            {% csrf_token %}

            <p>Are You Sure You Want to Delete This Serie? </p>
            <p style="margin-left: 20px;">"{{serie}}"</p>
            <input class="btn" type="submit" value="Delete Serie">

        </form>
    </div>


</div>