{% extends "base.html"%}

{% load static %}

{% block title %}About | WatchLog{% endblock %}

{% block extra_css %}
{% endblock extra_css %}

{% block content %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
<link rel="stylesheet" href="{% static 'css/core/about_style.css' %}">



<!-- About Section -->
<section class="about-container">
    <div class="about-me">
        <h1>Hi, I'm <strong>Smail Ait Hemmou</strong></h1>
        <p>
            I'm a Backend Developer Passionate About Python and Django.
            This project is part of my graduation work after 8 months of deep learning in Backend Development.
        </p>
        <a href="#developer" class="btn">About Me</a>
    </div>

    <div class="about-project">
        <h2>About the Project</h2>
        <p>
            WatchLog is a personal web app designed to help users track their favorite movies and series.
            It allows you to manage your watchlist, explore new content, and stay organized with an elegant interface.
            It also maintains the privacy of each user, as only you can see and control your viewing list.
        </p>
    </div>

    <div class="about-our-mission">
        <h2>Our Mission</h2>
        <p>At WatchLog, our mission is to enhance your entertainment experience by providing a seamless and
            user-friendly platform for tracking your viewing habits. We believe that keeping a log of your watched
            content can enrich your appreciation for movies and series while helping you stay organized.
        </p>
    </div>
</section>

<!-- skills Section -->
<section class="skills-container">
    <div class="skills">
        <h3>Skills & Tools</h3>
        <ul>
            <li>Python</li>
            <li>Django</li>
            <li>HTML / CSS</li>
            <li>Git & GitHub</li>
            <li>SQLite / PostgreSQL</li>
        </ul>
    </div>
</section>

<!-- Developer Section -->
<section id="developer" class="developer-container">
    <h2>About the Developer</h2>

    <div class="developer">
        <div class="developer-image">
            <img src="{% static 'image/main-porfolio.jpg' %}" alt="Smail Ait Hemmou">
        </div>

        <div class="developer-text">
            <div id="who-ma-i" class="who-ma-i">
                <h1>Hi, I'm <span>Smail Ait Hemmou</span></h1>
                <p>
                    Welcome to my website <strong>WatchLog</strong> — a project born from my passion for web development
                    and
                    film tracking.
                    I’m a 25-year-old software engineering student at <strong>Abdelmalek Essaadi University</strong> in
                    Tangier,
                    Morocco.
                    I love exploring how technology can simplify and enhance everyday experiences.
                </p>
            </div>


            <div id="contact" class="contact">
                <h3>Connect with Me</h3>
                <p>
                <p><strong>My Email:</strong> aithemmousmail@gmail.com</p>
                <p><strong>My Phone:</strong> 0704757649</p>
                <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                <a href="#"><i class="fa-brands fa-github"></i></a>
                <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                </p>
            </div>
        </div>
    </div>
</section>

<!-- Story Section -->
<section class="story-container">
    <div class="story">
        <h2>My Story</h2>
        <p>
            Building WatchLog was both challenging and rewarding.
            I faced real-world problems that pushed me to improve my problem-solving skills and gain
            a deeper understanding of web development.
        </p>
    </div>
</section>

<!-- Features Section -->
<section class="features-container">
    <div class="features">
        <h2>Features</h2>
        <ul>
            <li><strong>Personalized Watchlist:</strong> Create and manage your own watchlist with ease.</li>
            <li><strong>Progress Tracking:</strong> Keep track of your viewing progress for series and anime.</li>
            <li><strong>Recommendations:</strong> Get personalized recommendations based on your viewing history.</li>
            <li><strong>User-Friendly Interface:</strong> Enjoy a clean and intuitive design that makes navigation a
                breeze.</li>
            <li><strong>Privacy Focused:</strong> Your watchlist is private and secure, accessible only to you.</li>
        </ul>
    </div>
</section>

<!-- Footer Section -->
<footer class="footer">
    <div class="footer-content">
        <p>© 2025 <span class="brand">WatchLog</span>. All rights reserved.</p>
        <p>Designed & Built by <span class="brand">Smail Ait Hemmou.</span></p>
        <ul class="footer-links">
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'about' %}#who-ma-i">Contact</a></li>
        </ul>
    </div>
</footer>


{% endblock %}