{% extends "base.html"%}

{% load static %}

{% block title %}Home | WatchLog{% endblock title %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/home_style.css' %}">
{% endblock extra_css %}

{% block content %}

<section class="hero-section">
  <div class="hero-content">
    <div class="hero-image">
      <img src="{% static 'image/pxfuel.jpg' %}" alt="Cinematic background">
    </div>
    <div class="hero-text">
      <h1>Track what you watch, discover what’s next.</h1>
      <p>WatchLog helps you organize your movie and series experience in one simple, elegant place.</p>
      <a href="#" class="btn">Get Started</a>
    </div>
  </div>



{% endblock content %}