{% extends "base.html"%}


{% block content %}
<!-- <h2>This is Page Movies.</h2> -->
<!-- <style>
    body {
        background-color: #0a0a0f;
    }
</style> -->


<main style="margin-top: 80px ;">

    <table>

        <tr>
            <th>Movies:</th>
            <td><a href="{% url 'movie_create' %}">Add Movie</a></td>
        </tr>
        {% for movie in movies %}
        <tr>
            <td>{{ movie.name_movie }}</td>
            <td><a href="{% url 'movie_detail' movie.id %}">View</a></td>
            <td><a href="{% url 'movie_update' movie.id %}">Update</a></td>
            <td><a href="{% url 'movie_delete' movie.id %}">Delete</a></td>

        </tr>
        {% empty %}
        <h3>No Movies Found.</h3>
        {% endfor %}

    </table>



</main>

{% endblock content %}