{% load static %}

<link rel="stylesheet" href="{% static 'css/movies/movie_delete_style.css' %}">

<div class="continer">

    <div class="header-bar">
        <a class="go-back" href="{% url 'movies' %}">&#8612 Go Back</a>
    </div>

    <div class="card-body">
        <form method="post">

            {% csrf_token %}

            <p>Are You Sure You Want to Delete This Movie? </p>
            <p style="margin-left: 20px">"{{movie}}"</p>
            <input class="btn" type="submit" value="Delete Movie">

        </form>
    </div>


</div>