{% extends "base.html"%}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/movies/movie_list_style.css' %}">


<main class="continer" style="margin-top: 80px ;">

    <div class="header-bar" style="text-align: center; padding: 20px;">
        <div>
            <h4>Hello {{request.user|title}}</h4>
            <h5>Welcome to your Movie List</h5>
            <h5 style="margin: 0;">You have <i>{{count}}</i> Movie{{ count|pluralize:"s"}} not watching yet</h5>
        </div>
    </div>



    <div class="search-movie">
        <form method="GET" style="margin-top: 20px; display: flex;">
            <input type="text" name="search" placeholder="Search by Movie Name" value="{{ search_input }}">
            <input class="btn" type="submit" value="Search">
        </form>
        <a class="add-movie" href="{% url 'movie_create' %}">&#43</a>
    </div>


    <div class="wrapper">
        {% for movie in movies %}

        <div class="movie-list">

            {% if movie.complete %}
            <div class="name_movie">
                <div class="movie-complete-icon"></div>
                <i><s><a href="{% url 'movie_update' movie.id %}">{{movie}}</a></s></i>
            </div>
            <a class="link-delete" href="{% url 'movie_delete' movie.id %}">&#215</a>
            {% else %}
            <div class="name_movie">
                <div class="movie-incomplete-icon"></div>
                <a href="{% url 'movie_update' movie.id %}">{{movie}}</a>
            </div>
            <a class="link-delete" href="{% url 'movie_delete' movie.id %}">&#215</a>
            {% endif %}

        </div>

        {% empty %}
        <h3 style="padding: 25px; margin-left: 90px;">No Movies Found.</h3>
        {% endfor %}
    </div>



</main>

{% endblock content %}